{% extends "testapp/base.html" %}

{% load static djng_tags %}

{% block form_title %}Django Form Model as Scope{% endblock %}

{% block form_header %}Django Form's two-way data-binding with an AngularJS controller{% endblock %}

{% block form_tag %}name="{{ form.form_name }}" method="post" action="" validate ng-controller="MyFormCtrl"{% endblock %}

{% block form_submission %}
	<button type="submit" class="btn btn-primary">Submit via Post</button><span>&nbsp;</span>
	<button type="button" class="btn btn-primary" ng-click="submit()">Submit via Ajax</button>
{% endblock %}

{% block form_foot %}
	{% verbatim %}
		<h5><code>MyFormCtrl</code>'s scope:</h5>
		<pre>subscribe_data = {{ subscribe_data | json }}</pre>
	{% endverbatim %}
{% endblock form_foot %}

{% block ng_module_definition %}
	{{ block.super }}
	my_app.config(function($httpProvider) {
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{% csrf_value %}';
	});
{% endblock %}

{% block demo_scripts %}
	{{ block.super }}
	<script src="{% static 'js/model-scope.js' %}" type="text/javascript"></script>
{% endblock %}
